* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #b4b2ab;
  font-family: 'IBM Plex Mono', monospace;
}

@keyframes reelspin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ledpulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
